.container{
    display: flex;
    display: grid;
    grid-auto-rows: auto;
    width: 650px;
    height: 650px;
}
.grid-div{
    border: 1px solid black;
    flex: 1;
}
.hover{
    background-color: black;
}